/.metadata/

/jsp-demo/.settings/
jsp-demo/.classpath
jsp-demo/.project

/jsp-servlet/.settings/
jsp-servlet/.classpath
jsp-servlet/.project

/projet-pays/.settings/
projet-pays/.project
projet-pays/.classpath

/Servers/

